# All settings use the PLAB_ prefix.
PLAB_MAX_UPLOAD_BYTES=16777216
PLAB_STORAGE_DIR=./_storage
PLAB_DATABASE_URL=sqlite:///./pwnable_lab.db
PLAB_MAX_DISASM_INSTRUCTIONS=20000
PLAB_MAX_GADGETS=2000
PLAB_MAX_GADGET_DEPTH=5
PLAB_MAX_STRINGS=20000
PLAB_HEX_PAGE_SIZE=512
PLAB_MAX_CYCLIC_LENGTH=65536
PLAB_CORS_ORIGINS='["http://localhost:5173","http://127.0.0.1:5173"]'
PLAB_LOG_LEVEL=INFO
